.navbar {
  background-color: #24292e;
}

.navbar-brand {
  color: #fff;
  font-weight: bold;
}

.nav-link {
  color: #fff;
}

/* Estilos para o formulário de login */
.container {
  margin-top: 100px;
}

.card {
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-title {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.form-group label {
  font-weight: bold;
}

.btn-primary {
  background-color: #0366d6;
  border-color: #0366d6;
}

.btn-primary:hover {
  background-color: #054aa9;
  border-color: #054aa9;
}
