<!-- <p>
  login works!
</p> -->

<mat-toolbar color="primary">
  <span>Selecione o tipo de login:</span>
  <div class="spacer"></div>
  <button mat-button [routerLink]="['/secretaria']">Secretaria</button>
  <button mat-button [routerLink]="['/professor']">Professor</button>
  <button mat-button [routerLink]="['/aluno']">Aluno</button>
</mat-toolbar>

<div class="login-container">
  <mat-card>
    <mat-card-content>
      <h2>Login</h2>
      <mat-form-field>
        <input matInput placeholder="Matrícula" [(ngModel)]="matricula">
      </mat-form-field>
      <br>
      <button mat-raised-button color="primary" (click)="fazerLogin()">Entrar</button>
    </mat-card-content>
  </mat-card>
</div>